@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.day-selected {
    @apply bg-blue-500 text-white rounded-md;
}

.arrow {
    border: solid rgba(0, 0, 0, 0.795);
    border-width: 0 4px 4px 0;
    display: inline-block;
    &.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    &.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}

.hour-non-selected {
    @apply bg-yellow-100 text-yellow-800 border-2 border-yellow-100;
}

.hour-selected {
    @apply bg-green-200 text-green-800 border-2 border-green-500;
}

.bg-green-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(209, 250, 229, var(--tw-bg-opacity));
}

.border-yellow-200 {
    --tw-border-opacity: 1;
    border-color: rgba(253, 230, 138, var(--tw-border-opacity));
}

.text-green-700 {
    --tw-text-opacity: 1;
    color: rgba(4, 120, 87, var(--tw-text-opacity));
}
