<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<title>
			{% block title %}Tout Court
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="font-mono bg-gray-50 min-h-screen flex flex-col items-center">
		<div class="flex-grow flex flex-col items-center px-3 sm:px-4 max-w-3xl w-full">
			<header class="relative flex justify-center items-center sm:mt-8 font-bold py-2 w-full mx-auto sticky top-0 bg-gray-50 z-10">
				<a href="{{ path('home') }}">
					<h1 class="mx-auto text-3xl sm:text-5xl text-yellow-700 pt-1 pb-0.5 px-2">Tout Court</h1>
				</a>
			</header>

			<main class="flex-grow flex flex-col items-center w-full pb-20"> {% block body %}{% endblock %}
				</main>

			</div>

		</body>
	</html>
