<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Annulation de réservation - Tout court</title>
	</head>
	<body>
		<p>Bonjour
			{{ pseudo }},</p>
		<p>Votre réservation pour le court
			{{ name }}
			est annulée</p>
		<br>
		<p>Hâte de vous retrouver sur les courts !
		</p>
		<br>
		<p>Tout court</p>
	</body>
</html>
