<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Nouvelle Réservation - Tout court</title>
	</head>
	<body>
		<p>Bonjour
			{{ pseudo }},</p>
		<p>Votre réservation est confirmée:</p>
		<ul>
			<li>
				<b>Court:</b>
				{{ name }}
			</li>
			<li>
				<b>Date:</b>
				{{ date }}
			</li>
			<li>
				<b>Heure:</b>
				{{ hour }}h00
			</li>
		</ul>
		<p>Hâte de vous retrouver sur les courts !
		</p>
		<br>
		<p>Tout court</p>
	</body>
</html>
