<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Inscription - Tout court</title>
	</head>
	<body>
		<p>Bonjour
			{{ pseudo }},</p>
		<p>Merci pour votre inscription à Tout Court !</p>
		<p>Vous trouverez ci-dessous l'adresse email avec laquelle vous vous êtes inscrit. Utilisez celle-ci pour vous connecter.</p>
		<p>Adresse email &#40;login&#41;:
			<span>
				<b>{{ email }}</b>
			</span>
		</p>
		<p></p>
		<p>Hâte de vous retrouver sur les courts !
		</p>
		<br>
		<p>Tout court</p>
	</body>
</html>
